.header{
    background-color: #222;
    height:36px;
    padding: 8px 32px 8px 16px ;

}

.App-logo{
    background:#ff7f7f;
    position: relative;
    float: left;
    width: 17px;
    height: 35px;
   }

   @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-rotate 8s infinite linear;
    }
  }

  @keyframes App-logo-rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }