.header {
  background: #222;
  height: 36px;
  padding: 8px 32px 8px 16px ;
 }

 .App-logo{
  background:#ff7f7f;
  position: relative;
  float: left;
  width: 15px;
  height: 35px;
 }

 .login-button {
  float: right;
}

.booknow-button {
  float: right;
  margin-right: 20px;
}

 @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 8s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}